body{
    background-color: black;
}
title{
    text-align: center;
}
h1{
    color: gold;
}
h2{
    color: gold;
}
h3{color: gold;}
h4{color: gold;}
li{
    float: left;
}
table{
    width: 50%;
    border-collapse: collapse;
    background-color: gold;
}
thead tr{
    text-align: left;
    background-color: black;
    color: gold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: bold;
    font-size: larger;

}
a{
    text-decoration: none;
    color: gold;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
a{
    list-style-type: none;
    border:3px solid gold ;
    overflow: hidden;
    padding: 20px;
    margin: 20px;
}
a:hover{
    color: black;
    background-color: gold;
    border: black ;

}
a.active{
    background-color:gold;
    color: black;
}
legend{
    color: gold;
}
label{
    color: gold;
}
div{
    float: none;
    display: inline-block;
    padding: 0px;

}
fieldset{

    color: gold;
}